* {
    font-family: 'Roboto', sans-serif !important;
}

header {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b28b1;
    border-radius: 25px 0 0 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #040080;
}
#active-header a {
    background-color: #25228c !important;
    padding: 6px 15px 5px;
    color: white !important;
    border-radius: 25px;
}

.logo img {
    max-width: 25%;
}

.info-institution {
    background: rgb(42, 38, 190);
    background: linear-gradient(40deg, rgba(42, 38, 190, 1) 0%, rgba(41, 39, 137, 1) 100%);
}

.input-border--dark {
    border: 1px solid #454545;
}

.input-border--white {
    border: 2px solid #FFFFFF;
}

.input-border--blue {
    border: 2px solid #211CB0;
    background: linear-gradient(93.51deg, #211CB0 46.89%, #292483 91.38%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.institution-wrapper {
    height: 50px;
    width: auto;
    position: relative;
    background-color: transparent;
    margin: 20px;
}
#btn-add-request:hover{
    cursor: pointer;
}
.institution-item, .border-outside-right {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    bottom: -7px;
    right: -10px;
}

.border-outside-right {
    bottom: -7px;
    left: -10px;
}

.copp-imgs {
    background-repeat: repeat;
    background-image: url("../img/white-logo-copp-small.png");
    background-position-x: center;
    background-position-y: center;
}

.photokartochka {
    background-image: url("../img/white-logo-copp.png");
    background-size: 180px;
    background-position: 0 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    right: 0;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/
.background-map{
    width: 100%;
    height: 100vh;
    background-color: #851eff;
}
.banner-brand-wsr{
    background: linear-gradient(93.51deg, #211CB0 46.89%, #292483 91.38%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: white;
}
.competence-item-header, .top-item, .count-item{
    background-color: #292483 !important;
}
.top-item{
    width: 75px;
    height: 75px;
    padding: 15px;
}
.top-item-xl{
    width: 100px;
    height: 100px;
    padding: 25px;
}
.count-item{
    width: 10%;
}